name = "zju-charger-api"
main = "src/index.ts"
compatibility_date = "2026-02-17"
workers_dev = false
preview_urls = false

routes = [
  { pattern = "charger.philfan.cn/api/*", zone_name = "philfan.cn" }
]

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
invocation_logs = true

[[d1_databases]]
binding = "DB"
database_name = "zju-charger"
database_id = "b143e5f6-66e5-454b-81d6-89383841e321"

[[ratelimits]]
name = "API_RATE_LIMITER"
namespace_id = "1001"
simple = { limit = 120, period = 60 }
